# Copie ce fichier en .env et remplace avec tes valeurs Supabase
# Settings > API dans ton dashboard Supabase

VITE_SUPABASE_URL=https://tjwemahudytxrpywpclz.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_nmgFbYiiRrwqiA43rY-Smw_y3t-SFS2
